.gradient-color {
    background: #7f060d; /* Old browsers */
    background: -moz-linear-gradient(135deg, #000000 50%,#000000 50%,#000000 50%, #7f060d 50%);
    background: -webkit-linear-gradient(135deg, #000000 50%,#000000 50%,#000000 50%, #7f060d 50%);
    background: linear-gradient(135deg, #000000 50%,#000000 50%,#000000 50%, #7f060d 50%);
}