.gradient-color {
    background: #2989d8;
    background: -moz-linear-gradient(-45deg, #2989d8 50%, #1e5799 50%, #207cca 50%, #ed2561 50%);
    background: -webkit-linear-gradient(-45deg, #2989d8 50%,#1e5799 50%,#207cca 50%,#ed2561 50%);
    background: linear-gradient(135deg, #2989d8 50%,#1e5799 50%,#207cca 50%,#ed2561 50%);
}