.gradient-color {
    background: #e65c00;
    background: -moz-linear-gradient(30deg, #e65c00, #f9d423) ;
    background: -webkit-linear-gradient(30deg, #e65c00, #f9d423) ;
    background: linear-gradient(30deg, #e65c00, #f9d423) ;
}